In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.read_csv("C:/OhmNaamahShivaya/sklearning/countryData.csv")

In [6]:
df.head()

   Id  Colour Country
0   1   Green     USA
1   2     Red  Canada
2   3  Yellow   India
3   4   White      UK
4   5  Orange   Japan

In [7]:
df.dtypes

Id          int64
Colour     object
Country    object
dtype: object

In [8]:
df["Colour"].unique()

array(['Green', 'Red', 'Yellow', 'White', 'Orange', 'Brown', 'Black',
       'Blue', 'Sliver', 'Pink'], dtype=object)

In [9]:
df["Country"].unique()

array(['USA', 'Canada', 'India', 'UK', 'Japan', 'Russia', 'Singapore',
       'Dubai', 'Chaina', 'Malaysia'], dtype=object)

In [11]:
ohe = OneHotEncoder()

In [12]:
print(ohe)

OneHotEncoder()

In [13]:
ohe.fit_transform(df[["Colour","Country"]]).toarray()

c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [14]:
feature_arry = ohe.fit_transform(df[["Colour","Country"]]).toarray()

c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\satis\anaconda3\envs\mlops\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [15]:
ohe.categories_

[array(['Black', 'Blue', 'Brown', 'Green', 'Orange', 'Pink', 'Red',
        'Sliver', 'White', 'Yellow'], dtype=object),
 array(['Canada', 'Chaina', 'Dubai', 'India', 'Japan', 'Malaysia',
        'Russia', 'Singapore', 'UK', 'USA'], dtype=object)]

In [16]:
feature_labels = ohe.categories_

In [17]:
np.array(feature_labels).ravel()

array(['Black', 'Blue', 'Brown', 'Green', 'Orange', 'Pink', 'Red',
       'Sliver', 'White', 'Yellow', 'Canada', 'Chaina', 'Dubai', 'India',
       'Japan', 'Malaysia', 'Russia', 'Singapore', 'UK', 'USA'],
      dtype=object)

In [18]:
feature_labels = np.array(feature_labels).ravel()

In [21]:
print(feature_labels)

['Black' 'Blue' 'Brown' 'Green' 'Orange' 'Pink' 'Red' 'Sliver' 'White'
 'Yellow' 'Canada' 'Chaina' 'Dubai' 'India' 'Japan' 'Malaysia' 'Russia'
 'Singapore' 'UK' 'USA']

In [22]:
pd.DataFrame(feature_arry, columns=feature_labels)

,Black,Blue,Brown,Green,Orange,Pink,Red,Sliver,White,Yellow,Canada,Chaina,Dubai,India,Japan,Malaysia,Russia,Singapore,UK,USA
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [24]:
features = pd.DataFrame(feature_arry, columns=feature_labels) 
print(features)

    Black  Blue  Brown  Green  Orange  Pink  Red  Sliver  White  Yellow  \
0     0.0   0.0    0.0    1.0     0.0   0.0  0.0     0.0    0.0     0.0
1     0.0   0.0    0.0    0.0     0.0   0.0  1.0     0.0    0.0     0.0
2     0.0   0.0    0.0    0.0     0.0   0.0  0.0     0.0    0.0     1.0
3     0.0   0.0    0.0    0.0     0.0   0.0  0.0     0.0    1.0     0.0
4     0.0   0.0    0.0    0.0     1.0   0.0  0.0     0.0    0.0     0.0
..    ...   ...    ...    ...     ...   ...  ...     ...    ...     ...
95    0.0   0.0    0.0    1.0     0.0   0.0  0.0     0.0    0.0     0.0
96    0.0   0.0    0.0    0.0     0.0   0.0  1.0     0.0    0.0     0.0
97    0.0   0.0    0.0    0.0     0.0   0.0  0.0     0.0    0.0     1.0
98    0.0   0.0    0.0    0.0     0.0   0.0  0.0     0.0    1.0     0.0
99    0.0   0.0    0.0    0.0     1.0   0.0  0.0     0.0    0.0     0.0

    Canada  Chaina  Dubai  India  Japan  Malaysia  Russia  Singapore   UK  USA
0      0.0     0.0    0.0    0.0    0.0       0.0     0.0        0.0  0.0  1.0
1      1.0     0.0    0.0    0.0    0.0       0.0     0.0        0.0  0.0  0.0
2      0.0     0.0    0.0    1.0    0.0       0.0     0.0        0.0  0.0  0.0
3      0.0     0.0    0.0    0.0    0.0       0.0     0.0        0.0  1.0  0.0
4      0.0     0.0    0.0    0.0    1.0       0.0     0.0        0.0  0.0  0.0
..     ...     ...    ...    ...    ...       ...     ...        ...  ...  ...
95     0.0     0.0    0.0    0.0    0.0       0.0     1.0        0.0  0.0  0.0
96     0.0     0.0    0.0    0.0    0.0       0.0     0.0        1.0  0.0  0.0
97     0.0     0.0    1.0    0.0    0.0       0.0     0.0        0.0  0.0  0.0
98     0.0     1.0    0.0    0.0    0.0       0.0     0.0        0.0  0.0  0.0
99     0.0     0.0    0.0    0.0    0.0       1.0     0.0        0.0  0.0  0.0

[100 rows x 20 columns]

In [25]:
features.head()

,Black,Blue,Brown,Green,Orange,Pink,Red,Sliver,White,Yellow,Canada,Chaina,Dubai,India,Japan,Malaysia,Russia,Singapore,UK,USA
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [26]:
pd.concat([df,features], axis=1)

,Id,Colour,Country,Black,Blue,Brown,Green,Orange,Pink,Red,...,Canada,Chaina,Dubai,India,Japan,Malaysia,Russia,Singapore,UK,USA
0,1,Green,USA,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,Red,Canada,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Yellow,India,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,White,UK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5,Orange,Japan,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Green,Russia,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
96,97,Red,Singapore,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
97,98,Yellow,Dubai,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,99,White,Chaina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,100,Orange,Malaysia,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [27]:
df_new = pd.concat([df,features], axis=1)

In [28]:
df_new.head()

,Id,Colour,Country,Black,Blue,Brown,Green,Orange,Pink,Red,...,Canada,Chaina,Dubai,India,Japan,Malaysia,Russia,Singapore,UK,USA
0,1,Green,USA,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,Red,Canada,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Yellow,India,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,White,UK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5,Orange,Japan,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0